<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:panelGrid columns="2">
		<h:form>
			<p:menu>
				<p:submenu label="Opciones">
					<p:menuitem value="Automóviles" icon="pi pi-shopping-cart"
						action="index" />
					<p:menuitem value="Marcas" icon="pi pi-book" action="marcas" />
					<p:menuitem value="Clientes" icon="pi pi-users" action="clientes" />
					<p:menuitem value="Alquiler" icon="pi pi-dollar" />
				</p:submenu>
			</p:menu>
		</h:form>
		<h:panelGroup>
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Seleccione el cliente:" />
					<p:selectOneMenu value="#{beanAlquiler.cedulaClienteSeleccionado}">
						<f:selectItems value="#{beanAlquiler.listaClientes}" var="c"
							itemLabel="#{c.nombres}" itemValue="#{c.cedulaCliente}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Seleccione el automóvil:" />
					<p:selectOneMenu value="#{beanAlquiler.placaAutomovilSeleccionado}">
						<f:selectItems value="#{beanAlquiler.listaAutomoviles}" var="a"
							itemLabel="#{a.placa} #{a.color} #{a.costoDia} #{a.alquilado}"
							itemValue="#{a.placa}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Nro de días:" />
					<p:spinner value="#{beanAlquiler.numeroDias}" min="1" max="5"
						size="2"></p:spinner>
					<p:commandButton value="Agregar detalle alquiler" update=":form2"
						actionListener="#{beanAlquiler.actionListenerAgregarDetalleAlquiler()}" />
					<p:commandButton value="Guardar alquiler" icon="pi pi-save" update=":form2"
						actionListener="#{beanAlquiler.actionListenerGuardarAlquileMultiple()}"></p:commandButton>
				</p:panelGrid>
			</h:form>
			<h:form id="form2">
				<p:dataTable value="#{beanAlquiler.listaDetalleAlquiler}" var="d">
					<p:column headerText="PLACA">
						<h:outputText value="#{d.placa}" />
					</p:column>
					<p:column headerText="DESCRIPCION">
						<h:outputText value="#{d.descripcion}" />
					</p:column>
					<p:column headerText="COSTO DIA">
						<h:outputText value="#{d.costoDia}" />
					</p:column>
					<p:column headerText="DIAS">
						<h:outputText value="#{d.numeroDias}" />
					</p:column>
					<p:column headerText="SUBTOTAL">
						<h:outputText value="#{d.subtotal}" />
						<f:facet name="footer">
							<h:outputText value="#{beanAlquiler.total}" />
						</f:facet>
					</p:column>
				</p:dataTable>
			</h:form>
		</h:panelGroup>
	</p:panelGrid>
</body>
</html>
