<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:panelGrid columns="2">
		<h:form>
			<p:menu>
				<p:submenu label="Opciones">
					<p:menuitem value="Automóviles" icon="pi pi-shopping-cart"
						action="index" />
					<p:menuitem value="Marcas" icon="pi pi-book" action="marcas" />
					<p:menuitem value="Clientes" icon="pi pi-users" action="clientes" />
					<p:menuitem value="Alquiler" icon="pi pi-dollar" action="alquiler" />
				</p:submenu>
			</p:menu>
		</h:form>
		<h:form id="formDatos">
			<p:dataTable value="#{beanAlquiler.listaAutomoviles}" var="a">
				<p:column headerText="PLACA">
					<h:outputText value="#{a.placa}" />
				</p:column>
				<p:column headerText="AÑO">
					<h:outputText value="#{a.anio}" />
				</p:column>
				<p:column headerText="MARCA">
					<h:outputText value="#{a.marca.nombreMarca}" />
				</p:column>
				<p:column headerText="COLOR">
					<h:outputText value="#{a.color}" />
				</p:column>
				<p:column headerText="KILOM">
					<h:outputText value="#{a.kilometraje}" />
				</p:column>
				<p:column headerText="COSTO DIARIO">
					<h:outputText value="#{a.costoDia}" />
				</p:column>
				<p:column headerText="ALQUILADO">
					<p:selectBooleanCheckbox value="#{a.alquilado}" disabled="true" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton value="Editar" icon="pi pi-pencil"
						update=":formEdicion"
						actionListener="#{beanAlquiler.actionListenerSeleccionarAutomovilEdicion(a)}"
						oncomplete="PF('dlgEdicion').show()" />
					<p:commandButton update="@form" icon="pi pi-check"
						title="Cambiar estado alquiler"
						actionListener="#{beanAlquiler.actionListenerCambiarEstadoAlquiler(a)}" />
					<p:commandButton value="Alquilar"
						actionListener="#{beanAlquiler.actionListenerSeleccionarAutomovil(a)}"
						oncomplete="PF('dlgAlquiler').show()" />
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panelGrid>
	<p:dialog header="Editar automóvil" widgetVar="dlgEdicion" width="450"
		showEffect="fade" modal="true">
		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="PLACA:" />
				<h:outputText value="#{beanAlquiler.automovilEdicion.placa}" />
				<h:outputText value="AÑO:" />
				<p:spinner value="#{beanAlquiler.automovilEdicion.anio}" min="1980"
					max="2021" />
				<h:outputText value="MARCA:" />
				<p:selectOneMenu value="#{beanAlquiler.idMarcaEdicion}">
					<f:selectItems value="#{beanAlquiler.listaMarcas}" var="m"
						itemLabel="#{m.nombreMarca}" itemValue="#{m.idMarca}" />
				</p:selectOneMenu>
				<h:outputText value="COLOR:" />
				<p:inputText value="#{beanAlquiler.automovilEdicion.color}"
					required="true" requiredMessage="Indique el color." />
				<h:outputText value="KILOMETRAJE:" />
				<p:spinner value="#{beanAlquiler.automovilEdicion.kilometraje}" />
				<h:outputText value="COSTO DIARIO:" />
				<p:spinner value="#{beanAlquiler.automovilEdicion.costoDia}"
					stepFactor="0.01" />
				<h:outputText value="ALQUILADO:" />
				<h:outputText value="#{beanAlquiler.automovilEdicion.alquilado}" />
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEdicion').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update=":formDatos"
					actionListener="#{beanAlquiler.actionListenerActualizarAutomovil()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:dialog header="Alquilar automóvil" widgetVar="dlgAlquiler"
		width="450" showEffect="fade" modal="true">
		<h:form id="formAlquiler">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="CLIENTE:" />
				<p:selectOneMenu value="#{beanAlquiler.cedulaClienteSeleccionado}">
					<f:selectItems value="#{beanAlquiler.listaClientes}" var="c"
						itemLabel="#{c.nombres}" itemValue="#{c.cedulaCliente}" />
				</p:selectOneMenu>
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgAlquiler').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					actionListener="#{beanAlquiler.actionListenerAlquilarSimpleAutomovil()}"
					update=":formDatos" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
</body>
</html>
