<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<p:panelGrid columns="2">
		<h:form>
			<p:menu>
				<p:submenu label="Opciones">
					<p:menuitem value="Automóviles" icon="pi pi-shopping-cart"
						action="index" />
					<p:menuitem value="Marcas" icon="pi pi-book" action="marcas" />
					<p:menuitem value="Clientes" icon="pi pi-users" action="clientes" />
					<p:menuitem value="Alquiler" icon="pi pi-dollar" />
				</p:submenu>
			</p:menu>
		</h:form>
		<h:form>
			<p:dataTable value="#{beanAlquiler.listaMarcas}" var="m">
				<p:column headerText="ID">
					<h:outputText value="#{m.idMarca}" />
				</p:column>
				<p:column headerText="MARCA">
					<h:outputText value="#{m.nombreMarca}" />
				</p:column>
				<p:column headerText="OPCIONES">
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panelGrid>
</body>
</html>
